<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Generator</title>

</head>
<body>
<main class="main-content">
  <section class="welcome">
    <h1>Welcome to Form Generator</h1>
    <p>Create and customize forms effortlessly with our intuitive tool. Build forms for any purpose, from simple surveys to complex applications.</p>
    <a href="/form" class="cta-button">Start Creating</a>
  </section>

  <section class="features">
    <h2>Key Features</h2>
    <ul>
      <li>Customizable Fields: Tailor form fields to suit your needs.</li>
      <li>Multiple Input Types: Choose from text, checkbox, radio buttons, and more.</li>
      <li>Real-time Preview: See changes instantly as you build your form.</li>
    </ul>
  </section>

  <section class="demo">
    <h2>See It in Action</h2>
    <video controls>
      <source src="src/assets/video/video.mkv" type="video/mkv">
      Your browser does not support the video tag.
    </video>
  </section>


  <section class="testimonials">
    <h2>What Our Users Say</h2>
    <blockquote>
      "The form generator is a game-changer for our team. It's so easy to use and has saved us hours of work." - Alex R.
    </blockquote>
    <blockquote>
      "The form generator's intuitive interface and customization options have transformed our data collection process. Highly recommend!" - Taylor R.
    </blockquote>
  </section>
</main>
</body>
</html>
