<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link" routerLink="/sub" routerLinkActive="active">
        <div class="sb-nav-link-icon"><i class="fas fa-info-circle"></i></div>
        Responses
      </a>
      <a class="nav-link" routerLink="/User" routerLinkActive="active">
        <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
        Users
      </a>
      <a class="nav-link" routerLink="/form" routerLinkActive="active">
        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
        Form
      </a>
      <a class="nav-link" routerLink="/Setting" routerLinkActive="active">
        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
        Settings
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    <div>{{ userName }}</div>
  </div>
</nav>
